<ion-card>
  <ion-card-header>
    <ion-text>
      <h5>Today's most viewed courses</h5>
      <ion-icon name="information"></ion-icon>
    </ion-text>
  </ion-card-header>
  <ion-card-content>
    <ion-text color="dark">
      <h6 class="first-course">1. High Performace Habits</h6>
    </ion-text>
    <p>Eugene Sanchez | Entrepreneur</p>
    <ion-text color="dark">
      <h6>2. how to win friends and influence people</h6>
    </ion-text>
    <p>Dale Carnegie | Writer</p>
    <ion-text color="dark">
      <h6>3. Rich dad, poor dad</h6>
    </ion-text>
    <p>Robert Kiyosaki | American Investor</p>
    <ion-button color="medium" size="small" fill="clear">View All recommendations <ion-icon class="ion-padding"
        color="dark" name="arrow-forward-outline">
      </ion-icon>
    </ion-button>
  </ion-card-content>
</ion-card>
